<div class="flex flex-col flex-auto bg-white">
    <div class="sm:w-3/12 sm:ml-16   md:w-1/12 md:ml-16  lg:w-2/12 lg:ml-16  xl:w-1/12 xl:ml-16 ">
        <button
        (click)="back()"
        class="fuse-mat-button-rounded text-black mt-16  bg-purple-300 w-full  "
        mat-flat-button
       >
        <mat-icon
            class="icon-size-5"
            [svgIcon]="'heroicons_outline:arrow-sm-left'"></mat-icon>
        <span class="ml-2">กลับ</span>
    </button>

    </div>
    <div
        class="flex flex-col w-full sm:flex-row h-screen items-center md:items-center sm:justify-center md:justify-center flex-auto min-w-0 ">

        <div class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 sm:rounded-2xl
      md:rounded-none sm:shadow md:shadow-none sm:bg-card f ">

            <div class=" w-100 max-w-full  md:w-100 mx-auto  sm:w-100 my-auto sm:mx-0 ">
                <div class="flex  justify-center mb-8">
                    <img src="assets/image/11Logo.png" class="h-32 w-32" >
                </div>
                <div class="flex justify-center">
                    <h1 class="font-medium text-7xl kanit text-purple-600">รีเซ็ตรหัสผ่าน</h1>
                </div>
                <form name="loginForm" [formGroup]="fpassForm" novalidate class="mt-5">
                    <mat-form-field  class="w-full">
                        <mat-label class="kanit font-normal text-gray-400">เบอร์โทร</mat-label>
                        <input matInput formControlName="number" autocomplete="off" maxlength="10" type="tel"
                            class="kanit font-medium text-base text-black pl-2.5" />
                    </mat-form-field>

                        <button
                        (click)="fpassformSubmit()"
                        class="fuse-mat-button-large w-full mt-6 btn-main text-white kanit"
                        mat-flat-button>
                        <span >
                            ถัดไป
                        </span>

                    </button>

                </form>


            </div>
        </div>

        <div class="justify-center relative hidden md:flex md:w-1/2 md:h-full overflow-hidden dark:border-l bg-white aff">
    <img src="../../../../assets/images/auth/Password@2x@2x.png" style="height: 80%;width: 80%;margin-top: 10%;"/>
        </div>

    </div>
</div>

