<div class="flex flex-col sm:flex-row h-screen items-center md:items-center sm:justify-center md:justify-center flex-auto min-w-0">

  <div class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 sm:rounded-2xl
  md:rounded-none sm:shadow md:shadow-none sm:bg-card ">
      <div class=" w-100 max-w-full  md:w-100 mx-auto my-auto sm:w-100 sm:mx-0 ">


        <div class="flex  justify-center mb-8">
            <img src="assets/image/11Logo.png" class="h-32 w-32" >
        </div>



          <div class="flex justify-center pt-8">
              <h1 class="kanit font-medium text-6xl text-purple-600">
                  ลงชื่อเข้าใช้
              </h1>
              </div>
      <form name="loginForm" [formGroup]="loginForm" novalidate class="mt-5" >
        <mat-form-field  class="w-full">
          <mat-label class="kanit font-medium">เบอร์โทร</mat-label>
          <input matInput formControlName="username" maxlength="10" autocomplete="off" class="kanit font-medium text-base text-black pl-2.5"/>
        </mat-form-field>

        <mat-form-field  class="w-full">
          <mat-label class="kanit font-medium">รหัสผ่าน</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" maxlength="6" class="kanit font-medium text-base text-black pl-2.5">
          <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button> -->
        </mat-form-field>
        <div class="flex justify-end">
        <button (click)="forget()" class="kanit text-base font-normal text-red-400">ลืมรหัสผ่าน</button>
        </div>


        <button
        (click)="loginformSubmit()"
        class="fuse-mat-button-large w-full mt-6 btn-main text-white kanit"
        mat-flat-button>
        <span >
            เข้าสู่ระบบ
        </span>

    </button>
         <!-- <div class="flex items-center mt-5">
            <div class="flex-auto mt-px border-t"></div>
            <div class="flex-auto mt-px border-t"></div>
        </div> -->
        <div class="flex justify-center">
        <button (click)="regis()" class="mt-8"><p class="text-purple-400 kanit font-bold text-lg ">สมัครสมาชิก</p></button>
        </div>


      </form>
    </div>
  </div>
  <div class=" relative hidden md:flex md:w-1/2 md:h-full overflow-hidden dark:border-l bg-white aff">
    <img src="../../../../assets/images/auth/Login@2x@2x.png" style="height: 100%;width: 100%;margin-top: 10%;" />
</div>

</div>

