<div class="flex flex-col">
    <div class="bg-card">
        <div class="flex flex-col w-full   ">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">

                    <div class="flex flex-col min-w-0 ">

                            <div class="text-7xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate ml-8"> แดชบอร์ด</div>


                    </div>
                </div>
                <!-- Actions -->

            </div>

        </div>
      </div>
      <div class="flex flex-col flex-auto min-w-0 ">

        <!-- Main -->
        <div class="flex-auto p-6 sm:p-10 bg-main">

            <!-- CONTENT GOES HERE -->
            <div class="h-400 min-h-400 max-h-400 ">

              <div class="flex flex-col items-center md:items-start md:flex-row w-full">

                <div class="w-2/4 md:w-4/12 mb-5 md:mb-0 md:mr-5 bg-card shadow rounded-xl">
                    <div class="justify-content-start">
                        <label class="kanit textdarkindex font-bold text-2xl ml-3 ">รายได้</label>
                      </div>
                  <div class="flex flex-col h-full ">

                    <div class="h-4/6 w-full flex flex-col items-center content-center border-aff  rounded-t-xl">

                        <label class="textdarkindex text-5xl font-bold kanit mt-3">10,000</label>


                    </div>
                    <label class="textmain text-base font-medium kanit m-4  text-center">รายได้วันนี้</label>
                    <div class="flex flex-row    border-t-2 mr-4 ml-4">
                        <div class="flex flex-auto mt-5">
                            <label class="text-gray-400 w-full mb-4 text-2xl font-medium kanit mt-3">รายได้ทั้งหมด</label>
                        </div>
                        <div class="flex flex-auto mt-5">
                            <label class="text-purple-400 w-full text-right  text-2xl font-medium kanit mt-2">100,000</label>
                        </div>


                    </div>
                  </div>
                </div>
                <div class=" w-full md:w-8/12 rounded-xl  bg-card shadow"   >
                  <div class="felx flex-col">
                    <div class="m-5">
                      <label class="kanit textdarkindex font-bold text-2xl ml-3 ">ลิ้งค์สากลของคุณสำหรับการชักชวนลูกค้า</label>
                    </div>
                    <div class="flex flex-row border-t-2 border-gray-300 m-5">
                      <div class="flex flex-col items-center mt-5 ml-5 w-1/3 ">
                        <img src="/assets/image/unnamed.png" style="width: 146px;height: 146px;" class=" shadow-lg bg-card p-5 rounded-xl" >
                        <button type="button" class="btn-main rounded-3xl text-white kanit font-medium text-lg  py-1 mt-4">ดาวน์โหลดคิวอาร์</button>
                      </div>
                      <div class="flex flex-col items-center mt-5 ml-5 w-2/3">
                        <img src="/assets/image/Link@2x@2x.png" class="w-36 h-24 ">
                        <button type="button" class="border border-aff mt-5 py-2 w-8/12 rounded-xl kanit text-black font-medium text-lg">https://affiliate.iqbroker.com/redir/?aff=173226</button>
                        <button type="button" class=" btn-sub textmain rounded-3xl  kanit font-medium text-lg mt-4 mb-4 w-6/12 py-2">คัดลอกลิ้งค์</button>
                      </div>
                    </div>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-card shadow rounded-xl">
                <div class="flex  w-full  border-gray-300 rounded-t-xl mt-8 ">
                  <p class="kanit textdarkindex py-5 ml-5  font-bold text-3xl ">สถิติเดือนนี้</p>
                  </div>

                  <div class="pl-13 pr-13 pb-5">
                    <table class="w-full table-fixed border-collapse   border-gray-300">
                        <thead class="grid border-b-2">
                          <tr class="flex p-5  text-purple-400 w-full">
                              <th class="w-1/5 text-left">
                                <p class=" font-medium text-lg kanit ">รายได้</p>
                              </th>
                              <th class="w-1/5 text-left">
                                <p class=" font-medium text-lg kanit ">การลงทะเบียน</p>
                              </th>
                              <th class="w-1/5 text-left">
                                <p class="font-medium text-lg kanit ">ฝากเงิน</p>
                              </th>
                              <th class="w-1/5 text-left">
                                <p class=" font-medium text-lg kanit ">ยอดซื้อ</p>
                              </th>
                              <th class="w-1/5 text-left">
                                <p class=" font-medium text-lg kanit ">FTDz</p>
                              </th>
                            </tr>
                        </thead>
                      <tbody class="grid border-b-2">

                        <tr class="flex w-full p-5 ">
                          <td class="w-1/5">
                            <p class="text-black font-medium text-lg kanit ">10,000</p>
                          </td>
                          <td class="w-1/5">
                            <p class="text-black font-medium text-lg kanit ">10,000</p>
                          </td>
                          <td class="w-1/5">
                            <p class="text-black font-medium text-lg kanit ">10,000</p>
                          </td>
                          <td class="w-1/5">
                            <p class="text-black font-medium text-lg kanit ">10,000</p>
                          </td>
                          <td class="w-1/5">
                            <p class="text-black font-medium text-lg kanit ">10,000</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

              </div>



            </div>

        </div>

      </div>
</div>

