<div class="flex flex-col sm:flex-row h-screen items-center md:items-start sm:justify-center md:justify-center flex-auto min-w-0
affdone bg-no-repeat bg-contain bg-bottom">

  <div class="md:flex md:items-center md:justify-center w-full sm:w-auto md:h-1/2 md:w-1/2 py-8 px-4 sm:p-12 sm:rounded-2xl bg-transparent
  md:rounded-none sm:shadow md:shadow-none sm:bg-card ">
      <div class=" w-120 max-w-full  md:w-120  sm:w-120 mx-auto my-auto sm:mx-auto ">

        <div class="flex justify-center mt-20">
            <img src="/assets/images/auth/Success@2x@2x.png" >
        </div>
  <div class="flex justify-center mt-3" >
      <h1 class="font-medium text-7xl sm:text-5xl md:text-6xl kanit text-purple-600">รีเซ็ตรหัสผ่านสำเร็จ</h1>
  </div>
  <button
  (click)="login()"
  class="fuse-mat-button-large w-full mt-6 btn-main text-white kanit"
  mat-flat-button>
  <span >
    เข้าสู่ระบบ
  </span>

</button>

</div>

